## Build folders
bin/
build/
classes/
tmp/
hsqldb/
handwritten/
generated/
WebContent/WEB-INF/lib/
WebContent/robots.txt
WebContent/walkthrough.docx
WebContent/wormqtl_about.html
WebContent/wormqtl_contact.html


## Always ignore these
*~
*.lock
*.DS_Store
*.swp
*.out
*.passwd

## Netbeans private
nbproject/private/

## IntelliJ private
.idea/
molgenis_apps.eml
molgenis_apps.iml


## General java
*.class

## Other ignored files
*.so
*.si
*.dll
*.o
*.tmp
tmp*
log*
.classpath
/.externalToolBuilders
*.svn
*.orig
*.java~
/bin
/test-output
/generated
/target
logger.out*
/bin
/dist
/.settings/*
!/.settings/template*
.project
/WebContent/WEB-INF/classes
/.settings/org.eclipse.wst.common.component
/generated/java
!/.settings/template*
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.core.resources.prefs
/apps/catalogue/plugins/hl7parser/PropertiesPath.java
runmij*
modules/compute/protocols/ngsWorkflowRealignmentAndSnpCalling/output/
processedGeneList.tsv
processedGeneList.txt
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
/bin
WebContent/WormQTLHD_toolTutorial.pdf